* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: black;
    color: white;
    font-family: 'Almarai', sans-serif;
}

header {
    padding: 50px 20px 20px 20px;
    margin: auto;
    max-width: 1280px;
}

a:hover{
    opacity: 0.4;
}

.navbar-toggler{
    color: white;
    background-color: white;
}

.nav-link {
    margin-right: 0;
    text-align: center;
    width: 110px;
    font-size: 1.0em;
}

.nav-item .contacts {
    color: white;
    font-weight: 100;
    font-size: large;
}

.nav-item .careers {
    background-color: black;
    border-radius: 8px;
    color: white;
}

.nav-item .platform {
    background-color: white;
    border-radius: 8px;
    color: black;
}

.top-box {
    display: flex;
    margin: auto;
    width: 100%;
}

.ml-auto {
    margin-left: auto;
}

.center-box {
    padding: 20px;
    margin: auto;
    max-width: 1280px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-box-text {
    display: flex;
    flex-direction: column;
    justify-content: last baseline;
    align-items: flex-start;
    max-height: 544px;
}

.center-box-text button {
    margin-bottom: 40px;
}

.center-box-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-height: 640px;
}

.center-box-list button {
    clear: both;
}

.center-box-list i {
    float: right;

}

.hide {
    display: none;
}

#minus2{
    display: none;
}

.visible {
    display: block;
}


.list-item {
    cursor: pointer;
    float: left;
    padding: 20px 0 20px 0;
    width: 100%;
    border-top: 2px solid white;
}

.btn-plus{
    outline: none;
    background-color: none;
    text-decoration: none;
    border: 0;
}

.list-item a {
    color: white;
    text-decoration: none;
}

.list-item p {
    margin-top: 30px;
}

.last {
    float: left;
    padding: 20px 0 20px 0;
    width: 100%;
    border-bottom: 2px solid white;
}

