* {
    padding: 0;
    margin: 0;
    list-style: none;
}

@font-face {
    font-family: 'Helvetica Monospaced Bold';
    src: url('https://assets.website-files.com/62879326fd745f7489b43224/6287d3ea581281941e3ae60b_cd5dab88d94d254bc8329a885e36f5cd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Monospaced';
    src: url('https://assets.website-files.com/62879326fd745f7489b43224/6287d2ef4cb0e3250b7ff019_395410b1fd4cca8cfb17bd78a9c34889.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Condensed';
    src: url('https://assets.website-files.com/62879326fd745f7489b43224/6297adbd9b0142a630ec849b_ArkhamHeavyCondensed.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

html {
    height: 100%;
}

head {
    box-sizing: border-box;

}

body {
    font-family: 'Helvetica Monospaced', sans-serif;
    color: #fff;
    font-size: 14px;
    min-height: 100%;
    background-color: black;
    color: white;
    font-family: 'Bebas Neue', cursive;
}

a:hover {
    opacity: 0.4;
}

header {
    padding: 10px;
    margin: auto;
    background-image: url(../images/imagem2.png);
    background-size: cover;

    width: 100%;
    min-height: 100vh;
}

.nav-bar {
    position: fixed;
    top: 0px;
}

.nav-link {
    margin-right: 0;
    text-align: center;
    width: 90px;
    font-size: 1.2em;
}

.nav-item .contacts {
    color: white;
    font-weight: 100;
    font-size: large;
}

.nav-item .careers {
    background-color: black;
    border-radius: 8px;
    color: white;
}


.nav-item .platform {
    background-color: white;
    border-radius: 8px;
    color: black;
}

.top-box {
    display: flex;
    margin: auto;
    width: 100%;
}

.ml-auto {
    position: fixed;
    right: 5%;
    margin-left: auto;
}

.header-box {
    width: 640px;
    position: relative;
    bottom: 0;
    text-transform: uppercase;
    margin-left: 30px;
}

.header-box h2 {
    font-family: Condensed, sans-serif;
    font-size: 36px;
    line-height: 100%;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 440.825px;
}

.form-control {
    font-size: 1.5em;
    width: 230px;
    margin-bottom: 30px;
    margin-right: 10px;
}

.btn {
    margin-bottom: 30px;
}

.center-box-text {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-box-text p {
    padding-top: 30px;
    font-size: larger;
}

.center-box-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow-x: hidden;
}

.center-box-img img {
    width: 100%;
    height: 100%;
}

.center-box {
    padding: 10px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.center-box-inner {
    min-height: 100vh;
}

.display-5 {
    font-family: Condensed, sans-serif;
    font-size: 36px;
    line-height: 100%;
    font-weight: 900;
    text-transform: uppercase;
}

.bottom-box {
    text-align: left;
    background-image: url(../images/imagem1.png);
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.bottom-box p {
    margin-top: 20px;
    font-size: 14px;
    line-height: 157%;

}

.bottom-box h1 {
    font-family: Condensed, sans-serif;
    font-size: 36px;
    line-height: 100%;
    font-weight: 900;
    text-transform: uppercase;
}

.hero-link {
    color: #000;
    background-color: #FFF;
    background: -moz-linear-gradient(45deg, transparent 6px, #FFF 6px), -moz-linear-gradient(135deg, transparent 6px, #FFF 6px), -moz-linear-gradient(225deg, transparent 6px, #FFF 6px), -moz-linear-gradient(315deg, transparent 6px, #FFF 6px);
    background: -o-linear-gradient(45deg, transparent 6px, #FFF 6px), -o-linear-gradient(135deg, transparent 6px, #FFF 6px), -o-linear-gradient(225deg, transparent 6px, #FFF 6px), -o-linear-gradient(315deg, transparent 6px, #FFF 6px);
    background: -webkit-linear-gradient(45deg, transparent 6px, #FFF 6px), -webkit-linear-gradient(135deg, transparent 6px, #FFF 6px), -webkit-linear-gradient(225deg, transparent 6px, #FFF 6px), -webkit-linear-gradient(315deg, transparent 6px, #FFF 6px);
    background-position: bottom left, bottom right, top right, top left;
    -moz-background-size: 50% 50%;
    -webkit-background-size: 50% 50%;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
}
